body{font-family: 'Pixelify Sans', cursive;    
text-align:center;    
}

video{
background:url('game_console.png');
background-size:cover;
background-position:center;
padding:25px;
}

.heading{
display:inline;    
}

#divisbest{
width:100%;    
}

#buttonisbest{
float:right;    
}

#imageisbester{
width:100%    
}

#d{
font-size:25px;    
}

.modal-dialog{
width:90%;    
}
.instruction_image{
display:inline-block;
width:45%;    
}
